.wrong-passwd {
    animation: wrongPasswdAnimation 0.2s infinite;
}

@keyframes wrongPasswdAnimation {
    0% {
        transform: translateX(0px)
    }
    25% {
        transform: translateX(10px)
    }
    75% {
        transform: translateX(-10px)
    }
    100% {
        transform: translateX(0px)
    }
}